@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
 font-family: 'Slabo 27px';
 background: black;
 margin: 0;
 padding: 0;
 margin-top: 100px; 
}

.wrapper {
 height: 100vh;
 overflow-x: hidden;
 overflow-y: auto;
 perspective: 1px;
}
.container {
    position: relative;
    margin: 0 auto;
    height: 50%;
    width: 80%;
    margin-bottom: 50px;
    background: white;
    border-bottom: solid 5px steelblue;
   }
   .container > p {
    padding: 5px 10px 5px 10px;
    color: black;
    font-size: 18px;
    line-height: 1.5;
   }

.parallax:after {
 content: " ";
 position: absolute;
 top: 0;
 left:0;
 right: 0;
 bottom: 0;
 transform: translateZ(-1px) scale(2);
 z-index: -1;
 min-height: 200%;
}
.bg1:after {
  background-image: url('./images/stars.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
    .parallax:after {
        content: " ";
        position: relative;
    }
}

.header {
 display: flex;
 position:fixed;
 top: 0;
 left: 0;
 right: 0;
 justify-content: space-around;
 background: white;
 border-bottom: solid steelblue 6px;
 padding-left: 10%;
 padding-right: 10%;
 z-index: 1;
}
.header > h1 {
 color: steelblue;
}

.nav-list {
 display: flex;
 flex-flow: column;
 justify-content: space-around;
 background: white;
 height: 50px;
 width: 50px;
 border: solid steelblue 3px;
 padding: 0px;
 list-style: none;
 opacity: 0.9;
 transform: translateX(-10%);
 z-index: 1;
}
.nav-list > li {
 height: 1px;
 width: 20px;
 margin: 3px;
 margin: 0 auto;
 border-bottom: solid 3px steelblue;
}

#club {
    height: auto;
    width: 70%;
    max-width: 600px;
    display: block;
   margin-left: auto;
   margin-right: auto;
}

/* animations */

.slide {
 transform: translateX(-100px);
 will-change: transition;
 transition: transform 0.5s ease;
}
.close {
 transform: rotate(90deg);
 will-change: transition;
 transition: transform 0.5s ease;
}
.topBar {
 transform: translateY(17px) rotate(45deg);
 will-change: transition;
 transition: transform 0.5s ease;
}
.middleBar {
 opacity: 0;
 transition: opacity 0.5s ease;
}
.lastBar {
 transform: translateY(-17px) rotate(-45deg);
 will-change: transition;
 transition: transform 0.5s ease;
}

.open {
 position: fixed;
 display: flex;
 flex-flow: column;
 justify-content: space-around;
 background: white;
 height: 50vh;
 width: 100vw;
 transform: translate(-100px, 0px);
 will-change: transition;
 transition: transform 0.5s ease;
 border: solid 3px steelblue;
 opacity: 0.9;
 z-index: 1;
}

/* end animations */

.link {
 list-style: none;
 color: steelblue;
 font-size: 20px;
}
    .link > a {
        text-decoration: none;
        color: steelblue;
    }
    .link > a:hover {
        text-decoration: underline;
    }

.menu {
 position: fixed;
 display: flex;
 flex-flow: column;
 justify-content: space-between;
 visibility: hidden;
}


.intro {
 background: steelblue;
}
.intro > h2 {
 text-align: center;
 color: white;
 padding-bottom: 5px;
}
.intro > h3 {
 padding-top: 10px;
 text-align: center;
 color: white;
}

#calendar {
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   background: steelblue;
   padding: 10px;
   max-width: 640px;
   z-index: 1;
   margin-bottom: 100px;
}

.logo {
    height: 100px;
    width: 100px;
}

.icon {
    height: 25px;
    width: 25px;
    transform: translate(5px, 5px);
    padding: 0;
    margin: 0;
}
.icon:hover {
    opacity: .5;
}


/* Photos */

.gal {
    min-height: 500px;
}
#gallery {
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

    #photos {
        height: auto;
        width: 100%;
        max-width: 300px;
        min-width: 200px;
        align-self: center;
    }

        #photo-ctrl {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            margin: 5%;
        }

        #photo-ctrl > button {
            border: none;
            background: black;
            border-radius: 50%;
            color: white;
        }
 
/* end photos */

/* Newsletter */
.document {
    margin: 2%;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
}
.document > p {
    color: black;
    margin-left: 20px;
}
.document > p:hover{
    color: steelblue;
}
.doc-icon {
    height: 90px;
    width: 90px;
}

/* end newsletter */

/* events */
#link-cal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
#temp-cal {
    height: 90px;
    width: 90px;
}
#temp-cal:hover {
    opacity: .5;
}

/* end events */